body{
    background-color: #171d21fa !important;
    font-family: 'Lato', sans-serif;
}
body p{
    color:whitesmoke;
}
.container h1, label{
    color: whitesmoke ;
}
#h1{
    font-size: 10rem; 
}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.card{
    margin-bottom: 5%;
}
.card-body .card-text p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-body .btn-outline-info {
    color: whitesmoke;
    border-color: whitesmoke;
    background-color: #232323;
}
.comment-wrapper .card-header {
    background-color: #959697;
}
.card-body{
    background-color: #313438;
    color: whitesmoke;
}
.navbar-inverse{
    background: #313438;
}
.navbar .container .navbar-brand, .btn-outline-info, .nav-item, .nav-link{
    color: whitesmoke;
}
.navbar .navbar-header{
    margin-left: 1%;
}

#recipe-header-info h1, h3{
    color: whitesmoke;
}