body{
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Lato', sans-serif;
}

#h1{
    font-size: 10rem; 
}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.card{
    margin-bottom: 5%;
}
.card-body .card-text p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-body .btn-outline-info {
    color: black;
    border-color: #2c3e50;
}
.navbar-inverse{
    background: #2c3e50;
}
.navbar .container .navbar-brand, .btn-outline-info, .nav-item, .nav-link{
    color: whitesmoke;
}
.navbar .navbar-header{
    margin-left: 1%;
}